{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/skeleton.css' %}">
    <title>My first django web app</title>
</head>
<body>

{% if latest_items_list %}
    <ul>
        {% for item in latest_items_list %}
            <li><a href="{% url 'detail' item.id %}">{{ item.itemName }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>