{% extends "./navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/skeleton.css' %}">
    <title>My first django web app</title>

    <script type='text/javascript'>
        function funcNotLogged() {
            alert("You must be logged in!");
        }

        function funcSuccess() {
            alert("This item was added to your favorites");
        }
    </script>

</head>
<body>
<div class="container">
    {% if items %}
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>

                    <td><a href="{% url 'detail' item.id %}">{{ item.itemName }}</a></td>
                    <td>{{ item.date }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="#" onclick="funcSuccess()">Add to favorites</a></td>
                    {% else %}
                        <td><a href="#" onclick="funcNotLogged()">Add to favorites</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items are available.</p>
    {% endif %}

</div>
</body>
{% endblock %}
</html>